html, body {
	/*font-family: Verdana;*/
	height: 100%;
	font-size: 15pt;
	/*background url:*/
}

#container {
	position: relative;
	top: 50%;
	transform: translateY(-100%);
	text-align: center;
	box-sizing: border-box;
	height: 300px;
}


#movieDisplay {

	text-align: left;
	box-sizing: border-box;
	border: 1px solid black;
	width: 60%;

}
form {
    top: 50px;
}

.table {
	box-sizing: border-box;
	border-width: 1px;
	border-color: black;
}
#movieSubmit {
	font-size: 20pt;
}