html, body {
	/*font-family: Verdana;*/
	height: 100%;
	font-size: 15pt;
	/*background url:*/
}

#container {
	position: relative;
	top: 50%;
	transform: translateY(-100%);
	text-align: center;
	box-sizing: border-box;
	height: 300px;
}


#movieDisplay {
	position: relative;
	top: 50%;
    left: 20%;
	transform: translateY(-100%);
	text-align: left;
    box-sizing: border-box;
	border: 1px solid black;
    width: 60%;

}
form {
    top: 50px;
}